# Code Owners for SJBA_site
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global rule — @sjba-admin owns all files in the repository
* @sjba-admin
